@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background:#F2F2F2;
    --text: #4D4F62;
    --lightgreen:#44D3D2;
    --orange:#FCAE4A;
    --sky:#549EF2;
    --red:#EA5454;

}

body{
    width: 100vw;
    min-height: 100vh;
    color: var(--background);
    font-family: 'Poppins', sans-serif;
    padding: 85px 32px 78px 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheading{
    font-size: 24px;
    line-height: 36px;
    font-weight: 275;
    letter-spacing: 0.17px;
    color: var(--text);
}

.title{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0.17px;
    color: var(--text);
}

.about{
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: var(--text);
    opacity: 50%;
    margin-top: 16px;
}

.box{
    width: 100%;
    padding-bottom:28px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 460px;
}

.one{
    margin-top: 76px;
}

.cardtitle{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600px;
    color: var(--text);
    
}

.cardabout{
    font-size: 13px;
    line-height: 23px;
    font-weight: d00px;
    color: var(--text);
    letter-spacing: 0.09;
    opacity: 50%;
}

.icon{
    margin-top: 33px;
    width: 57px;
    height: 57px;
    margin-left: auto;
}

.border{
    width: 100%;
    height: 3.55px;
}

.content{
    margin-top: 27px;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    flex-direction: column;
}

.lightgreen{
    background-color: var(--lightgreen);
}

.red{
    margin-top: 25px;
}
.red .border{
    background-color: var(--red);
}

.orange{
    margin-top: 23px;
}
.orange .border{
    background-color: var(--orange);
}

.sky{
    margin-top: 17px;
}
.sky .border{
    background-color: var(--sky);
}
.cardsection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px){
    .box{
        width: 350px;
    }
}

@media(min-width: 1300px){
    .subheading,
    .title{
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0.25px;
    }
    .box{
        height: 250px;
    }
    .cardsection{
        flex-direction: row;
        justify-content: center;
        margin-top: 68px;
        column-gap: 30px;
    }
    .one,
    .red,
    .sky {
        margin-top: 0;
    }

    .orange {
        margin-top: 30px;
    }
    .about{
        width: 540px;
    }
}
